# Data science project in Python

Doormiddel van numpy, pandas, matplotlib & SciKit-learn

Door Louis D'Hont - Elektronica-ICT - 2021

## Project omschrijving

Het doel van deze opdracht is om op basis van bepaalde features het type klanten dat over gaat tot een nieuwe boeking te bepalen met een algoritme. Deze features zijn gehaald uit de hieronder beschreven data beschikbaar gesteld door TrailFinders. Ze organiseren paardrijvakanties over de hele wereld en helpen daarnaast ook om de vlucht, accomodatie, huurwagen, verzekeringen en dergelijke te regelen.

In [1]:
#delete row that is not useful
#to_drop = ['Straat + nr.', 'Telefoon']
#df.drop(to_drop, inplace = True, axis = 1)()

#df_klanten['age'] = df_klanten['age'].astype('int64')


# Replace numerical value with string
#df['gender'].replace(0, 'Female', inplace=True)
#df['gender'].replace(1, 'Male', inplace=True)
# Replace all values that equal a specific variable
#df = df.replace(valueToReplace =["current", "alsoCurrent"],value ="newvalue")

#else:
#print(df.iloc[index]['Familienaam'])
#for index, data in enumerate(df_deelnemers['Familienaam']):
#    df['Geboortedatum'] = np.where(df.iloc[index]['Familienaam'] == data, df_deelnemers['Geboortedatum'], 'False')
         
#for index, data in enumerate(df_deelnemers['Familienaam']): #Voornaam
    #df['Geboortedatum'] = np.where(df['Familienaam'] == data, df_deelnemers['Geboortedatum'], 'False')
    #print(df['Geboortedatum'])
    #df['Geb. datum'] = pd.to_datetime(df['Geb. datum'])
    #df['Geb. datum'] = df['Geboortedatum'].astype('datetime64[ns]')


#check how many values are null
#df_klanten.isnull().sum()
#df_klanten.dtypes

#df.info()
#print(df.isnull().sum())

#values count
#df.Email.value_counts(dropna=False)

#df_klanten.shape

#df_deelnemers.loc[2082]
#df_klanten.loc[df_klanten['Familienaam'] == '6fed459d39a65d1a']
#df.loc[df['Familienaam'] == '6fed459d39a65d1a']

#def convert_datatypes(df):
    # Creatie datum
    # Geboortedatum
    #for index, date in enumerate(df['Geboortedatum']):
        #if (pd.notnull(date)):
           # if (int(date[-4:]) > now.year):
               # df.drop(df.index[index], inplace = True)

In [2]:
# Importeren van gebruikte bibliotheken
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

## Data analyse

### Inlezen van data en features bepalen

Hieronder wordt de data die is aangeleverd ingelezen en in een DataFrame geplaatst.

In [3]:
klanten = pd.read_csv("../data/klanten.csv", sep=';') 
artikels = pd.read_csv("../data/artikels.csv", sep=';') 
bestellingen = pd.read_csv("../data/bestellingen.csv", sep=';') 
deelnemers = pd.read_csv("../data/deelnemers.csv", sep=';')

df_klanten = pd.DataFrame(klanten)
df_artikels = pd.DataFrame(artikels)
df_bestellingen = pd.DataFrame(bestellingen)
df_deelnemers = pd.DataFrame(deelnemers)

## Klantenlijst

Hieronder wordt de data uit de klantenlijst opgeruimd en aangepast.
After review, there is 1 volcano event that doesn't have an age. The record that has a null value for the year, also has a null value for location, country, lat, long, etc. This record does not help analysis and will be dropped.

To keep the default dataframe in tact, I've created a new dataframe and will clean up the data in this new dataframe. This is to ensure data is not skewed and can be compared after transformation.

### Data Quality

- Create new dataframe
 * Rename columns (change abbreviations to defined full words)
 * Change data types for columns
 * Handle null/NaN values

In [4]:
# Create a new dataframe (deep copy)
df = df_klanten.copy()
# Samenvoegen van deelnemerslijst met de klantenlijst waar de voornaam en familienaam hetzelfde zijn
df = df_deelnemers.merge(df, left_on=['Familienaam','Voornaam'], right_on=['Familienaam','Voornaam'], how='inner')

In [5]:
def wijzig_landen(df):
    namen_belgie = ['belgium', 'be', 'belgië', 'belgïe', 'west-vlaanderen', 'b', 'belgie', 'belg', 'begie', 'ybelgie', 'be', 'oost-vlaanderen - belgium', 'oost-vlaanderen', 'belgiê', 'beglië']
    namen_nederland = ['nl', 'nederand', 'nederlands', 'ned', 'nerdland', 'holland', 'netherland', 'groningen', 'noord holland', 'noord-brabant', 'hengelo ov', 'nederland', 'nederlandse', 'the netherlands', 'pays bas (holland)', 'nerderland', 'nld', 'ndl', 'ned.', 'utrecht', 'noor holland', 'noord-holland', 'netherlands', 'zuid-holland', 'nederkand', 'nedeland']
    namen_frankrijk = ['france', 'frankrijk']
    namen_duitsland = ['duitsland', 'germany']
    namen_verenigd_koninkrijk = ['groot-brittanie ', 'united kingdom']
    #namen_verwijderen = ['27', 'NaN', 'df', 'z', 'nan', 'Kies...', 'jelle', '- -', '-', 'test', '0633799726', 'Selecteer een staat', 'Selecteer een gebied, staat of provincie a.u.b.']

    #dit stuk moet korter
    df.drop(df.index[df['Land'] == 'NaN'], inplace = True)
    df.drop(df.index[df['Land'].isnull()], inplace = True)
    df.drop(df.index[df['Land'] == 'df'], inplace = True)
    df.drop(df.index[df['Land'] == '27'], inplace = True)
    df.drop(df.index[df['Land'] == 'z'], inplace = True)
    df.drop(df.index[df['Land'] == 'Kies...'], inplace = True)
    df.drop(df.index[df['Land'] == 'jelle'], inplace = True)
    df.drop(df.index[df['Land'] == '- -'], inplace = True)
    df.drop(df.index[df['Land'] == '-'], inplace = True)
    df.drop(df.index[df['Land'] == 'test'], inplace = True)
    df.drop(df.index[df['Land'] == '0633799726'], inplace = True)
    df.drop(df.index[df['Land'] == 'Selecteer een staat'], inplace = True)
    df.drop(df.index[df['Land'] == 'Selecteer een gebied, staat of provincie a.u.b.'], inplace = True)

    for index, land in enumerate(df['Land']):
        #if str(land) in namen_verwijderen:
        #print(land)
        if (str(land).lower()) in namen_belgie:
            df.loc[index, 'Land'] = 'be'
        if (str(land).lower()) in namen_nederland:
            df.loc[index, 'Land'] = 'nl'
        if (str(land).lower()) in namen_frankrijk:
            df.loc[index, 'Land'] = 'fr'
        if (str(land).lower()) in namen_duitsland:
            df.loc[index, 'Land'] = 'de'
        if (str(land).lower()) in namen_verenigd_koninkrijk:
            df.loc[index, 'Land'] = 'gb'
        if (str(land).lower()) == 'luxemburg':
            df.loc[index, 'Land'] = 'lux'
        if (str(land).lower()) == 'scotland':
            df.loc[index, 'Land'] = 'sco'
        if (str(land).lower()) == 'portugal':
            df.loc[index, 'Land'] = 'pt'
        if (str(land).lower()) == 'suriname':
            df.loc[index, 'Land'] = 'sr'
        if (str(land).lower()) == 'hong kong':
            df.loc[index, 'Land'] = 'cn'
        if (str(land).lower()) == 'oostenrijk':
            df.loc[index, 'Land'] = 'aut'
        if (str(land).lower()) == 'canada':
            df.loc[index, 'Land'] = 'ca'
        if (str(land).lower()) == 'italy':
            df.loc[index, 'Land'] = 'it'
        if (str(land).lower()) == 'spanje':
            df.loc[index, 'Land'] = 'es'
        if (str(land).lower()) == 'chile':
            df.loc[index, 'Land'] = 'cl'

wijzig_landen(df)

print("Alle unique waarden in de landen lijst: " + str(df.Land.unique()))
print("Aantal rijen en kolommen: " + str(df.shape))
#df.describe()
#df.sample(5)

Alle unique waarden in de landen lijst: ['nl' 'be' 'de' 'aut' 'fr' 'cl' 'lux' 'pt' 'sco' 'it' 'es' 'gb']
Aantal rijen en kolommen: (3445, 21)

In [6]:
# Het dataframe schoonmaken, verwijderen van onnodige kolommen en hernoemen van kolommen
df.drop(columns=['Geb. datum', 'Klantnummer CMS', 'Telefoon', 'Stad', 'Straat + nr._x', 'Straat + nr._y', 'Postcode_x', 'GSM', 'Email_x', 'Locatie', 'Postcode_x'], inplace=True)
df.rename(columns={'Email_y': 'Email', 'Postcode_y': 'Postcode'}, inplace = True)

# Opvullen van alle lege NaN waarden en verwijderen van null waarden, hierna wijzigen van float64 naar int64
df['Dossier'].fillna(0)
df.drop(df.index[df['Dossier'].isnull()], inplace = True)
df['Dossier'] = df['Dossier'].astype(int)

now = datetime.datetime.now()
df_bestellingen['Dos. jaar'].fillna(now.year)
df_bestellingen.drop(df_bestellingen.index[df_bestellingen['Dos. jaar'].isnull()], inplace = True)
df_bestellingen['Dos. jaar'] = df_bestellingen['Dos. jaar'].astype(int)

df_bestellingen['Dos. nr.'].fillna(0)
df_bestellingen.drop(df_bestellingen.index[df_bestellingen['Dos. nr.'].isnull()], inplace = True)
df_bestellingen['Dos. nr.'] = df_bestellingen['Dos. nr.'].astype(int)

df_bestellingen.drop(df_bestellingen.index[df_bestellingen['Dos. nr.'].isnull()], inplace = True)
# Samenvoegen van de bestellingenlijst in het huidige dataframe, op basis van klantnummer en dossiernummer
df = df_bestellingen.merge(df, left_on=['Klantnummer', 'Dos. nr.'], right_on=['Klantnummer', 'Dossier'], how='left')

df.drop(columns=['Dos. nr.', 'Vertrekdatum', 'Touroperator', 'Klantnummer CMS', 'Email_x', 'Land klant', 'Email_y', 'Pakket Code', 'Postcode', 'Bestemming_y', 'Familienaam', 'Voornaam', 'Regio', 'Creatie datum'], inplace=True)
df.rename(columns={'Dossier': 'Dossier nr.', 'Dos. jaar': 'Dossier jaar', '# pass.': 'Aantal reizigers', 'Bestemming_x': 'Bestemming', 'D. vertrek': 'Datum vertrek'}, inplace = True)
df.drop(df.index[df['Dossier nr.'].isnull()], inplace = True)

#df

# if Land en Dossier nr. = NaN : drop
# wijzigen van types:  
# - Status: int64 - 0 of 1 (-1 = 1)
# - Datum creatie: datetime - dd-mm-YYYY
# - Datum vertrek: datetime - dd-mm-YYYY
# - Datum terug:   datetime - dd-mm-YYYY
# - Totaalprijs: float64
# - Betalingen dossier: float64
# - Openstaand dossier: float64
# - Aantal reizigers: int64
# - Gefactureerd: boolean
# -

In [7]:
df.isnull().sum()

Status                   0
Dossier jaar             0
Klantnummer              0
Datum creatie            0
Datum vertrek            7
Datum terug             11
Totaalprijs              0
Betalingen dossier       0
Openstaand dossier       0
Bestemming              21
Reistype              2139
Aantal reizigers         0
Gefactureerd             0
Dossier nr.              0
Geboortedatum          252
Land                     0
dtype: int64

In [8]:
#df_artikels.shape
#df.isnull().sum()
#df.info()
df.columns

Index(['Status', 'Dossier jaar', 'Klantnummer', 'Datum creatie',
       'Datum vertrek', 'Datum terug', 'Totaalprijs', 'Betalingen dossier',
       'Openstaand dossier', 'Bestemming', 'Reistype', 'Aantal reizigers',
       'Gefactureerd', 'Dossier nr.', 'Geboortedatum', 'Land'],
      dtype='object')

In [9]:
# - verwijder Straat + nr. kolom en persoonlijke informatie
# - Verander de kolom namen
# wijzig het type voor de 'Creatie datum' en 'Geb. datum' kolommen
# gebruik klantnummer als index voor het dataframe
# - Zet de Land kolom om naar 1 land (Be, BE, Belgium,..) = België
# vervang NaN in Geboortedatum met de geboortedatum uit de deelnemers lijst

In [21]:
#df_artikels

# verwijder ArticlePoNummer kolom
# zet Boekingsdatum en Vertrekdatum om naar juiste type datetime
# vervang Volledige naam klant door klantennummer uit klantenlijst door te zoeken met dossier nummer
# vervang DossierStatus 'Ok' met 1 of 0
# zet Artikelprijs en Totaal dossier om naar float
# maak dataframe (labels) met alle bestemmingen

,Dos. nr.,DossierStatus,Boekingsdatum,Vertrekdatum,Volledige naam klant,Bestemming,ArticlePoNummer,Artikelcode,Omschrijving,Artikelprijs,Totaal dossier
0,714,Ok,11.01.2013 00:00:00,26.04.2013 00:00:00,372cf782d12d6ebb,Westernranch in de Ardennen,NaN,ec5bf082c4d8bae6,Weekend Western Ranch in tweepersoonskamer,"580,00","580,00"
1,744,Ok,26.01.2013 00:00:00,27.04.2013 00:00:00,b656deada70fafb9,"Fatima-trektocht in Spanje, met bezoek Granada...",NaN,NaN,Prijs per persoon (2 x Tweepersoonskamer),"5.400,00","5.727,00"
2,744,Ok,26.01.2013 00:00:00,27.04.2013 00:00:00,b656deada70fafb9,"Fatima-trektocht in Spanje, met bezoek Granada...",NaN,NaN,Ja,"327,00","5.727,00"
3,745,Ok,27.01.2013 00:00:00,07.04.2013 00:00:00,52aa0c8f23c08919,Klassieke dressuurlessen van topkwaliteit en s...,NaN,NaN,Prijs per persoon (1 x Eenpersoonskamer),"1.280,00","1.280,00"
4,743,Ok,25.01.2013 00:00:00,10.08.2013 00:00:00,9d261039ad8c9445,De Balkan trail,NaN,def3d0afc5a44821,1 x ( één persoonskamer ),"895,00","895,00"
...,...,...,...,...,...,...,...,...,...,...,...
13556,20200140,Ok,21.02.2020 11:59:31,26.09.2021 00:00:00,8d080fae207c4d79,Roemenië,NaN,d799c1dd9d16dc7b,Wijzigingskosten vlucht,"34,03","2.415,22"
13557,20200139,Ok,21.02.2020 11:57:12,26.09.2021 00:00:00,984a939e25592c45,Ontdek bijzonder Transsylvanie te paard,NaN,de6eb5b0b5f464d7,Ontdek bijzonder Transsylvanie te paard,"1.180,00","2.415,22"
13558,20200139,Ok,21.02.2020 11:57:12,26.09.2021 00:00:00,984a939e25592c45,Ontdek bijzonder Transsylvanie te paard,NaN,a209b8fc5b6b88a2,Ontdek bijzonder Transsylvanie te paard,"0,00","2.415,22"
13559,20200139,Ok,21.02.2020 11:57:12,26.09.2021 00:00:00,984a939e25592c45,Ontdek bijzonder Transsylvanie te paard,NaN,fae29d340036a451,Verzameltransfer ter plaatse te betalen,"0,00","2.415,22"
13560,20200139,Ok,21.02.2020 11:57:12,26.09.2021 00:00:00,984a939e25592c45,Ontdek bijzonder Transsylvanie te paard,NaN,d799c1dd9d16dc7b,Wijzigingskosten,"34,03","2.415,22"

In [11]:
#df_bestellingen.iloc[3308]
#df_bestellingen.sample(20)

# Dos.jaar = 2021.0 - moet date worden en niet float zijn
# kolomnaam D.vertrek en Datum terug hernoemen
# status -1 en 0 omzetten naar 1 of 0
# verwijder laatste rij - is het totaal van alles opgeteld
# verwijder de regio kolom (veel NaN)
# verwijder de gefactureerd kolom of zet om naar 1 of 0 - type int64
# verwijder de Pakket Code kolom
# verwijder Status kolom
# verwijder Touroperator kolom (Waarschijnlijk niet relevant)
# Zet 'Datum creatie', 'D. vertrek' en 'Datum terug' om naar datetime type
# Zet bestemming en 'Land klant' om naar 1 land (Be, BE, Belgium,..) = België
# zet Totaalprijs en Openstaand dossier om naar het type int64
# verwijder # pass. kolom
# verwijder Openstaand dossier kolom
# verwijder Betalingen dossier kolom
# 

# status: 0 = bevestigd -1 = geannuleerd

In [12]:
#df_bestellingen.shape

In [13]:
#df_deelnemers.sample(10)

# verwijder GSM kolom
# vewijder email kolom (veel NaN) - ook prive data
# zet Postcode om naar het type int64
# zet Vertrekdatum om naar datetime
# verwijder cijfers uit Stad bv: Brussel 15
#

In [14]:
#df['Klantnummer'].is_unique

#make specific row as index
#df.set_index('Klantnummer', inplace=True)
#df

In [15]:
# aantal waarden die null zijn in de klantenlijst
#df.isnull().sum()

In [16]:
df.dtypes

Status                float64
Dossier jaar            int64
Klantnummer            object
Datum creatie          object
Datum vertrek          object
Datum terug            object
Totaalprijs            object
Betalingen dossier     object
Openstaand dossier     object
Bestemming             object
Reistype               object
Aantal reizigers      float64
Gefactureerd           object
Dossier nr.           float64
Geboortedatum          object
Land                   object
dtype: object

In [17]:
#df.info()

In [18]:
df

,Status,Dossier jaar,Klantnummer,Datum creatie,Datum vertrek,Datum terug,Totaalprijs,Betalingen dossier,Openstaand dossier,Bestemming,Reistype,Aantal reizigers,Gefactureerd,Dossier nr.,Geboortedatum,Land
2,0.0,2011,cc44932a4b289e81,07.04.2011 10:17:02,13.05.2011,15.05.2011,620,620,0,Belgium,Autovakantie Europa,2.0,False,3.0,06.03.1960,nl
4,0.0,2011,94bc0881cd24a1b5,27.04.2011 15:01:28,08.05.2011,15.05.2011,5040,5040,0,Botswana,Safari,2.0,False,9.0,18.06.1950,nl
7,0.0,2011,5c09ae179c7894ca,03.05.2011 15:40:50,30.07.2011,13.08.2011,"2510,96","2510,96",0,Frankrijk Bourgogne,NaN,2.0,True,13.0,26.09.1972,be
8,0.0,2011,9074500e4eac155e,05.05.2011 12:15:57,25.07.2011,27.07.2011,"326,95","326,95",0,Ardennen,NaN,1.0,True,14.0,24.05.1956,be
9,0.0,2011,d97137d8a5312916,06.05.2011 11:33:28,07.10.2011,17.10.2011,"11400,94","11400,94",0,Zuid Afrika,Safari,3.0,False,16.0,31.10.1969,nl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4035,0.0,2021,a05c18daffb780bf,01.05.2021 11:37:06,07.05.2021,09.05.2021,650,650,0,Nederland,Weekendje weg,4.0,False,20210037.0,11.07.1976,nl
4036,0.0,2021,9d70a9409fd86d4e,01.05.2021 12:22:08,21.06.2021,24.06.2021,500,0,500,België,Weekendje weg,1.0,False,20210038.0,24.05.1997,be
4037,0.0,2021,550888291b01a2d4,02.05.2021 16:15:33,16.06.2021,18.06.2021,335,0,335,Nederland,Weekendje weg,1.0,False,20210039.0,12.04.1982,be
4038,-1.0,2021,5ca1958fcc9b6d75,03.05.2021 12:42:36,09.05.2021,11.05.2021,440,0,440,Nederland,NaN,2.0,False,20210040.0,29.03.1975,nl
4039,0.0,2021,19b236bfce3aba00,03.05.2021 14:12:47,11.06.2021,13.06.2021,315,0,315,Nederland,Weekendje weg,1.0,False,20210041.0,NaN,nl

In [19]:
#df.boxplot(column='Email', by='Telefoon', rot=90)

# Features bepalen

Enkele interessante features die in de data te vinden zijn:

* Feature1

### importeren