# Data science project in Python

Doormiddel van numpy, pandas, matplotlib & SciKit-learn

Door Louis D'Hont - Elektronica-ICT - 2021

## Project omschrijving

Het doel van deze opdracht is om op basis van bepaalde features het type klanten dat over gaat tot een nieuwe boeking te bepalen met een algoritme. Deze features zijn gehaald uit de hieronder beschreven data beschikbaar gesteld door TrailFinders. Ze organiseren paardrijvakanties over de hele wereld en helpen daarnaast ook om de vlucht, accomodatie, huurwagen, verzekeringen en dergelijke te regelen.

In [1]:
# Importeren van gebruikte bibliotheken
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

## Data analyse

### Inlezen van data en opschonen

Hieronder wordt de data die is aangeleverd ingelezen en omgezet naar een DataFrame.

In [2]:
klanten = pd.read_csv("../data/klanten.csv", sep=';') 
artikels = pd.read_csv("../data/artikels.csv", sep=';') 
bestellingen = pd.read_csv("../data/bestellingen.csv", sep=';') 
deelnemers = pd.read_csv("../data/deelnemers.csv", sep=';')

df_klanten = pd.DataFrame(klanten)
df_artikels = pd.DataFrame(artikels)
df_bestellingen = pd.DataFrame(bestellingen)
df_deelnemers = pd.DataFrame(deelnemers)

Hieronder wordt de data uit de dataframes opgeruimd en samengevoegd tot 1 dataframe met alle nuttige waarden.

Om het bestaande dataframe in stand te houden, wordt er een kopie gemaakt om daarin verder te werken. Op deze manier kan er in het originele dataframe teruggekeken worden na eventuele wijzigingen.

Als eerste stap wordt in data gekeken welke types de gebruikers zelf aan de routes gegeven hebben. De code hieronder maakt een harde (deep) kopie van het klanten dataframe om daarna het deelnemers dataframe samen te voegen volgens de Familienaam en Voornaam kolom. 

### Data kwaliteit

- Enkele zaken die hieronder worden uitgevoerd:
 * Hernoemen van kolomnamen
 * Wijzigen van datatypes
 * Data in kolommen omzetten naar een uniforme manier
 * Samenvoegen van meerdere dataframes om ontbrekende waarden op te vullen
 * Verwijderen van enkele niet relevante kolommen

In [3]:
# Create a new dataframe (deep copy)
df = df_klanten.copy()
df = df.merge(df_deelnemers, left_on=['Familienaam', 'Voornaam'], right_on=['Familienaam', 'Voornaam'], how='inner')
#df = pd.merge(df, df_deelnemers)

In het onderstaande blok worden de landen omgevormd tot één waarde omdat er manueel verchillende manieren zijn ingegeven voor hetzelfde land. Zo wordt België op diverse manieren geschreven zoals bijvoorbeeld: belgïe, begie, belgiê...

In [4]:
def wijzig_landen(df):
    namen_belgie = ['belgium', 'be', 'belgië', 'belgïe', 'west-vlaanderen', 'b', 'belgie', 'belg', 'begie', 'ybelgie', 'be', 'oost-vlaanderen - belgium', 'oost-vlaanderen', 'belgiê', 'beglië']
    namen_nederland = ['nl', 'nederand', 'nederlands', 'ned', 'nerdland', 'holland', 'netherland', 'groningen', 'noord holland', 'noord-brabant', 'hengelo ov', 'nederland', 'nederlandse', 'the netherlands', 'pays bas (holland)', 'nerderland', 'nld', 'ndl', 'ned.', 'utrecht', 'noor holland', 'noord-holland', 'netherlands', 'zuid-holland', 'nederkand', 'nedeland']
    namen_frankrijk = ['france', 'frankrijk']
    namen_duitsland = ['duitsland', 'germany']
    namen_verenigd_koninkrijk = ['groot-brittanie ', 'united kingdom']
    #namen_verwijderen = ['27', 'NaN', 'df', 'z', 'nan', 'Kies...', 'jelle', '- -', '-', 'test', '0633799726', 'Selecteer een staat', 'Selecteer een gebied, staat of provincie a.u.b.']

    #dit stuk moet korter worden geschreven
    df.drop(df.index[df['Land'] == 'NaN'], inplace = True)
    df.drop(df.index[df['Land'].isnull()], inplace = True)
    df.drop(df.index[df['Land'] == 'df'], inplace = True)
    df.drop(df.index[df['Land'] == '27'], inplace = True)
    df.drop(df.index[df['Land'] == 'z'], inplace = True)
    df.drop(df.index[df['Land'] == 'Kies...'], inplace = True)
    df.drop(df.index[df['Land'] == 'jelle'], inplace = True)
    df.drop(df.index[df['Land'] == '- -'], inplace = True)
    df.drop(df.index[df['Land'] == '-'], inplace = True)
    df.drop(df.index[df['Land'] == 'test'], inplace = True)
    df.drop(df.index[df['Land'] == '0633799726'], inplace = True)
    df.drop(df.index[df['Land'] == 'Selecteer een staat'], inplace = True)
    df.drop(df.index[df['Land'] == 'Selecteer een gebied, staat of provincie a.u.b.'], inplace = True)

    for index, land in enumerate(df['Land']):
        #if str(land) in namen_verwijderen:
            #print(land)
        if (str(land).lower()) in namen_belgie:
            df.loc[index, 'Land'] = 'be'
        if (str(land).lower()) in namen_nederland:
            df.loc[index, 'Land'] = 'nl'
        if (str(land).lower()) in namen_frankrijk:
            df.loc[index, 'Land'] = 'fr'
        if (str(land).lower()) in namen_duitsland:
            df.loc[index, 'Land'] = 'de'
        if (str(land).lower()) in namen_verenigd_koninkrijk:
            df.loc[index, 'Land'] = 'gb'
        if (str(land).lower()) == 'luxemburg':
            df.loc[index, 'Land'] = 'lux'
        if (str(land).lower()) == 'scotland':
            df.loc[index, 'Land'] = 'sco'
        if (str(land).lower()) == 'portugal':
            df.loc[index, 'Land'] = 'pt'
        if (str(land).lower()) == 'suriname':
            df.loc[index, 'Land'] = 'sr'
        if (str(land).lower()) == 'hong kong':
            df.loc[index, 'Land'] = 'cn'
        if (str(land).lower()) == 'oostenrijk':
            df.loc[index, 'Land'] = 'aut'
        if (str(land).lower()) == 'canada':
            df.loc[index, 'Land'] = 'ca'
        if (str(land).lower()) == 'italy':
            df.loc[index, 'Land'] = 'it'
        if (str(land).lower()) == 'spanje':
            df.loc[index, 'Land'] = 'es'
        if (str(land).lower()) == 'chile':
            df.loc[index, 'Land'] = 'cl'

wijzig_landen(df)

print("Alle unique waarden in de landen lijst: " + str(df.Land.unique()))
print("Aantal rijen en kolommen: " + str(df.shape))

Alle unique waarden in de landen lijst: ['nl' 'be' 'it' 'gb' 'de' 'sco' 'aut' 'fr' 'lux' 'cl' 'es' 'pt'
 'nederland' 'Nederland' 'belgie']
Aantal rijen en kolommen: (3446, 21)


In het onderstaande codeblok worden de niet relevante kolommen verwijderd en enkele kolommen hernoemd.
Hierna worden de lege waarden in het dossier nummer verwijderd en wordt het datatype omgezet naar een integer.
Het dossier jaar en het dossier nummer in het bestellingen dataframe worden hierna ook verwijderd wanneer deze leeg zijn en het datatype wordt ook omgezet naar een integer.

Alle dossiernummers die leeg zijn worden verwijderd in de bestellingenlijst, hierna wordt het dataframe samengevoegd op basis van het dossier nummer en het klanten nummer. Hierna worden opnieuw de niet relevante kolommen verwijderd en enkele kolomnamen gewijzigd.

Als laatste worden de datatypes van enkele kolommen gewijzigd zodat deze later goed kunnen worden gebruikt.

In [5]:
# Het dataframe schoonmaken, verwijderen van onnodige kolommen en hernoemen van kolommen

df.drop(columns=['Geb. datum', 'Klantnummer CMS', 'Telefoon', 'Stad', 'Straat + nr._x', 'Straat + nr._y', 'Postcode_x', 'GSM', 'Email_x', 'Locatie', 'Postcode_x'], inplace=True)
df.rename(columns={'Email_y': 'Email', 'Postcode_y': 'Postcode'}, inplace = True)

# Opvullen van alle lege NaN waarden en verwijderen van null waarden, hierna wijzigen van float64 naar int64
df['Dossier'].fillna(0)
df.drop(df.index[df['Dossier'].isnull()], inplace = True)
df['Dossier'] = df['Dossier'].astype(int)

now = datetime.datetime.now()
df_bestellingen['Dos. jaar'].fillna(now.year)
df_bestellingen.drop(df_bestellingen.index[df_bestellingen['Dos. jaar'].isnull()], inplace = True)
df_bestellingen['Dos. jaar'] = df_bestellingen['Dos. jaar'].astype(int)

df_bestellingen['Dos. nr.'].fillna(0)
df_bestellingen.drop(df_bestellingen.index[df_bestellingen['Dos. nr.'].isnull()], inplace = True)
df_bestellingen['Dos. nr.'] = df_bestellingen['Dos. nr.'].astype(int)

df_bestellingen.drop(df_bestellingen.index[df_bestellingen['Dos. nr.'].isnull()], inplace = True)

# Samenvoegen van de bestellingenlijst in het huidige dataframe, op basis van klantnummer en dossiernummer
df = df_bestellingen.merge(df, left_on=['Klantnummer', 'Dos. nr.'], right_on=['Klantnummer', 'Dossier'], how='left')

df.drop(columns=['Familienaam', 'Voornaam', 'Bestemming_y', 'Geboortedatum', 'Postcode', 'Email_x', 'Email_y', 'Land klant', 'Regio', 'Vertrekdatum', 'Klantnummer CMS', 'Dossier'], inplace=True)
df.rename(columns={'Dos. nr.': 'Dossier nr.', 'Dos. jaar': 'Dossier jaar', '# pass.': 'Aantal reizigers', 'Bestemming_x': 'Bestemming', 'D. vertrek': 'Datum vertrek'}, inplace = True)


df.drop(df.index[df['Dossier nr.'].isnull()], inplace = True)

df.drop_duplicates(subset ="Klantnummer", keep = False, inplace = True)

# Zet klantnummer al index voor elke rij
#df = df.set_index('Klantnummer')

# wijzigen van types:  
# - Datum creatie: datetime - dd-mm-YYYY
# - Datum vertrek: datetime - dd-mm-YYYY
# - Datum terug:   datetime - dd-mm-YYYY
# - Gefactureerd: boolean 

df['Status'] = df['Status'].astype(int)
df['Dossier nr.'] = df['Dossier nr.'].astype(int)

df['Totaalprijs'] = df['Totaalprijs'].replace(',', '.', regex=True)
df['Betalingen dossier'] = df['Betalingen dossier'].replace(',', '.', regex=True)

df['Totaalprijs'] = df['Totaalprijs'].astype(float)
df['Betalingen dossier'] = df['Betalingen dossier'].astype(float)
df['Aantal reizigers'] = df['Aantal reizigers'].astype(int)

for index, row in df.iterrows():
    # Wijzigen van de status 0 en -1 worden 1 en 0 
    if(row['Status'] == 0):
        df.loc[index, 'Status'] = 1
    if(row['Status'] == -1):
        df.loc[index, 'Status'] = 0
        
#df

Het dataframe bevat nu 2417 rijen aan data waarin al een aantal kolommen geen lege waarden meer hebben.

In [6]:
df.isnull().sum()

Status                   0
Dossier jaar             0
Dossier nr.              0
Klantnummer              0
Datum creatie            0
Datum vertrek           14
Datum terug             14
Totaalprijs              0
Betalingen dossier       0
Openstaand dossier       0
Touroperator            44
Bestemming              23
Reistype              1905
Aantal reizigers         0
Pakket Code           2009
Gefactureerd             0
Creatie datum         1532
Land                   797
dtype: int64

In [7]:
#df[["Dossier jaar"]].plot()

In [8]:
#df_artikels.shape
#df_artikels.drop_duplicates(subset ="Dos. nr.", keep = False, inplace = True)
#df_artikels
#df.columns

In [9]:
#df_bestellingen.shape
df_artikels['Totaal dossier'] = df_artikels['Totaal dossier'].str.replace('.', '')
df_artikels['Totaal dossier'] = df_artikels['Totaal dossier'].str.replace(',', '.')
df_artikels['Totaal dossier'] = df_artikels['Totaal dossier'].astype(float)

#df = df_artikels.merge(df, left_on=['Dos. nr.'], right_on=['Dossier nr.'], how='inner')

In [10]:
df.dtypes

Status                  int64
Dossier jaar            int64
Dossier nr.             int64
Klantnummer            object
Datum creatie          object
Datum vertrek          object
Datum terug            object
Totaalprijs           float64
Betalingen dossier    float64
Openstaand dossier     object
Touroperator           object
Bestemming             object
Reistype               object
Aantal reizigers        int64
Pakket Code            object
Gefactureerd           object
Creatie datum          object
Land                   object
dtype: object

In [11]:
# Het uiteindelijke finale dataframe
df

,Status,Dossier jaar,Dossier nr.,Klantnummer,Datum creatie,Datum vertrek,Datum terug,Totaalprijs,Betalingen dossier,Openstaand dossier,Touroperator,Bestemming,Reistype,Aantal reizigers,Pakket Code,Gefactureerd,Creatie datum,Land
1,1,2011,1,756abea9c3e90efe,28.01.2011 15:01:35,10.07.2011,17.07.2011,14.52,14.52,0,NaN,Netherlands,NaN,1,NaN,True,NaN,NaN
4,1,2011,9,94bc0881cd24a1b5,27.04.2011 15:01:28,08.05.2011,15.05.2011,5040.00,5040.00,0,NaN,Botswana,Safari,2,NaN,False,NaN,nl
6,1,2011,11,14fa899cbefcd9ec,02.05.2011 15:40:50,16.07.2011,22.07.2011,540.00,540.00,0,3124a9d2236ff8eb,Netherlands,NaN,2,NaN,True,NaN,NaN
7,1,2011,13,5c09ae179c7894ca,03.05.2011 15:40:50,30.07.2011,13.08.2011,2510.96,2510.96,0,1e80893643ca75c5,Frankrijk Bourgogne,NaN,2,NaN,True,NaN,nl
8,1,2011,14,9074500e4eac155e,05.05.2011 12:15:57,25.07.2011,27.07.2011,326.95,326.95,0,8860548be62aac71,Ardennen,NaN,1,NaN,True,NaN,be
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4034,1,2021,20210036,2911eb8b46fc05d6,30.04.2021 09:51:57,12.09.2021,18.09.2021,2589.61,0.00,"2589,61",379d98f4727b660b,Frankrijk,Ruitervakantie,2,FRCYGKAP,False,30.04.2021,be
4035,1,2021,20210037,a05c18daffb780bf,01.05.2021 11:37:06,07.05.2021,09.05.2021,650.00,650.00,0,5b0d4a8fc474f56d,Nederland,Weekendje weg,4,NLRIJVPWP,False,01.05.2021,nl
4036,1,2021,20210038,9d70a9409fd86d4e,01.05.2021 12:22:08,21.06.2021,24.06.2021,500.00,0.00,500,59fd5bafb3a477af,België,Weekendje weg,1,BEWETLWMWP,False,01.05.2021,nl
4038,0,2021,20210040,5ca1958fcc9b6d75,03.05.2021 12:42:36,09.05.2021,11.05.2021,440.00,0.00,440,27ef3947de4c44d2,Nederland,NaN,2,NLSTWPAP,False,03.05.2021,nl
4040,1,2021,20210043,5436dead6768cd27,05.05.2021 10:33:07,25.07.2021,01.08.2021,6118.00,0.00,6118,0af23110f6efa1a3,Kroatië,Ruitervakantie,3,NaN,False,NaN,NaN

# Features bepalen

Enkele interessante features die in de data te vinden zijn:

* Feature1