# Data science project in Python

Doormiddel van numpy, pandas, matplotlib & SciKit-learn

Door Louis D'Hont - Elektronica-ICT - 2021

## Project omschrijving

Het doel van deze opdracht is om op basis van bepaalde features het type klanten dat over gaat tot een nieuwe boeking te bepalen met een algoritme. Deze features zijn gehaald uit de hieronder beschreven data beschikbaar gesteld door TrailFinders. Ze organiseren paardrijvakanties over de hele wereld en helpen daarnaast ook om de vlucht, accomodatie, huurwagen, verzekeringen en dergelijke te regelen.

bepalen van de beste bestemming bepalen

In [1]:
#delete row that is not useful
#to_drop = ['Straat + nr.', 'Telefoon']
#df.drop(to_drop, inplace = True, axis = 1)()

#df_klanten['age'] = df_klanten['age'].astype('int64')


# Replace numerical value with string
#df['gender'].replace(0, 'Female', inplace=True)
#df['gender'].replace(1, 'Male', inplace=True)
# Replace all values that equal a specific variable
#df = df.replace(valueToReplace =["current", "alsoCurrent"],value ="newvalue")

#else:
#print(df.iloc[index]['Familienaam'])
#for index, data in enumerate(df_deelnemers['Familienaam']):
#    df['Geboortedatum'] = np.where(df.iloc[index]['Familienaam'] == data, df_deelnemers['Geboortedatum'], 'False')
         
#for index, data in enumerate(df_deelnemers['Familienaam']): #Voornaam
    #df['Geboortedatum'] = np.where(df['Familienaam'] == data, df_deelnemers['Geboortedatum'], 'False')
    #print(df['Geboortedatum'])
    #df['Geb. datum'] = pd.to_datetime(df['Geb. datum'])
    #df['Geb. datum'] = df['Geboortedatum'].astype('datetime64[ns]')


#check how many values are null
#df_klanten.isnull().sum()
#df_klanten.dtypes

#df.info()
#print(df.isnull().sum())

#values count
#df.Email.value_counts(dropna=False)

#df_klanten.shape

#df_deelnemers.loc[2082]
#df_klanten.loc[df_klanten['Familienaam'] == '6fed459d39a65d1a']
#df.loc[df['Familienaam'] == '6fed459d39a65d1a']

In [2]:
# Importeren van gebruikte bibliotheken
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

## Data analyse

### Inlezen van data en features bepalen

Hieronder wordt de data die is aangeleverd ingelezen en in een DataFrame geplaatst.

In [3]:
klanten = pd.read_csv("../data/klanten.csv", sep=';') 
artikels = pd.read_csv("../data/artikels.csv", sep=';') 
bestellingen = pd.read_csv("../data/bestellingen.csv", sep=';') 
deelnemers = pd.read_csv("../data/deelnemers.csv", sep=';')

df_klanten = pd.DataFrame(klanten)
df_artikels = pd.DataFrame(artikels)
df_bestellingen = pd.DataFrame(bestellingen)
df_deelnemers = pd.DataFrame(deelnemers)

## Klantenlijst

Hieronder wordt de data uit de klantenlijst opgeruimd en aangepast.
After review, there is 1 volcano event that doesn't have an age. The record that has a null value for the year, also has a null value for location, country, lat, long, etc. This record does not help analysis and will be dropped.

To keep the default dataframe in tact, I've created a new dataframe and will clean up the data in this new dataframe. This is to ensure data is not skewed and can be compared after transformation.

### Data Quality

- Create new dataframe
 * Rename columns (change abbreviations to defined full words)
 * Change data types for columns
 * Handle null/NaN values

In [23]:
# Create a new dataframe (deep copy) 
df = df_klanten.copy()
df = df_deelnemers.merge(df, left_on=['Familienaam','Voornaam'],right_on=['Familienaam','Voornaam'], how='inner')
now = datetime.datetime.now()

def convert_datatypes(df):
    # Creatie datum
    # Geboortedatum
    for index, date in enumerate(df['Geboortedatum']):
        if (pd.notnull(date)):
            if (int(date[-4:]) > now.year):
                df.drop(df.index[index], inplace = True)
                
#convert_datatypes(df)
#df.sample(10)

In [24]:
#def remove_and_rename_columns(df):

def convert_land(df):
    namen_belgie = ['belgium', 'be', 'belgië', 'belgïe', 'west-vlaanderen', 'b', 'belgie', 'belg', 'begie', 'ybelgie', 'be', 'oost-vlaanderen - belgium', 'oost-vlaanderen', 'belgiê', 'beglië']
    namen_nederland = ['nl', 'nederand', 'nederlands', 'ned', 'nerdland', 'holland', 'netherland', 'groningen', 'noord holland', 'noord-brabant', 'hengelo ov', 'nederland', 'nederlandse', 'the netherlands', 'pays bas (holland)', 'nerderland', 'nld', 'ndl', 'ned.', 'utrecht', 'noor holland', 'noord-holland', 'netherlands', 'zuid-holland', 'nederkand', 'nedeland']
    namen_frankrijk = ['france', 'frankrijk']
    namen_duitsland = ['duitsland', 'germany']
    namen_verenigd_koninkrijk = ['groot-brittanie ', 'united kingdom']
    #namen_verwijderen = ['27', 'NaN', 'df', 'z', 'nan', 'Kies...', 'jelle', '- -', '-', 'test', '0633799726', 'Selecteer een staat', 'Selecteer een gebied, staat of provincie a.u.b.']

    #dit stuk moet korter
    df.drop(df.index[df['Land'] == 'NaN'], inplace = True)
    df.drop(df.index[df['Land'].isnull()], inplace = True)
    df.drop(df.index[df['Land'] == 'df'], inplace = True)
    df.drop(df.index[df['Land'] == '27'], inplace = True)
    df.drop(df.index[df['Land'] == 'z'], inplace = True)
    df.drop(df.index[df['Land'] == 'Kies...'], inplace = True)
    df.drop(df.index[df['Land'] == 'jelle'], inplace = True)
    df.drop(df.index[df['Land'] == '- -'], inplace = True)
    df.drop(df.index[df['Land'] == '-'], inplace = True)
    df.drop(df.index[df['Land'] == 'test'], inplace = True)
    df.drop(df.index[df['Land'] == '0633799726'], inplace = True)
    df.drop(df.index[df['Land'] == 'Selecteer een staat'], inplace = True)
    df.drop(df.index[df['Land'] == 'Selecteer een gebied, staat of provincie a.u.b.'], inplace = True)

    for index, land in enumerate(df['Land']):
        #if str(land) in namen_verwijderen:
        #print(land)
        if (str(land).lower()) in namen_belgie:
            df.loc[index, 'Land'] = 'be'
        if (str(land).lower()) in namen_nederland:
            df.loc[index, 'Land'] = 'nl'
        if (str(land).lower()) in namen_frankrijk:
            df.loc[index, 'Land'] = 'fr'
        if (str(land).lower()) in namen_duitsland:
            df.loc[index, 'Land'] = 'de'
        if (str(land).lower()) in namen_verenigd_koninkrijk:
            df.loc[index, 'Land'] = 'gb'
        if (str(land).lower()) == 'luxemburg':
            df.loc[index, 'Land'] = 'lux'
        if (str(land).lower()) == 'scotland':
            df.loc[index, 'Land'] = 'sco'
        if (str(land).lower()) == 'portugal':
            df.loc[index, 'Land'] = 'pt'
        if (str(land).lower()) == 'suriname':
            df.loc[index, 'Land'] = 'sr'
        if (str(land).lower()) == 'hong kong':
            df.loc[index, 'Land'] = 'cn'
        if (str(land).lower()) == 'oostenrijk':
            df.loc[index, 'Land'] = 'aut'
        if (str(land).lower()) == 'canada':
            df.loc[index, 'Land'] = 'ca'
        if (str(land).lower()) == 'italy':
            df.loc[index, 'Land'] = 'it'
        if (str(land).lower()) == 'spanje':
            df.loc[index, 'Land'] = 'es'
        if (str(land).lower()) == 'chile':
            df.loc[index, 'Land'] = 'cl'

convert_land(df)

print("All unique values in the : " + str(df.Land.unique()))
print("Aantal rijen en kolommen: " + str(df.shape))
#df.describe()

df.sample(5)

All unique values in the : ['nl' 'be' 'de' 'aut' 'fr' 'cl' 'lux' 'pt' 'sco' 'it' 'es' 'gb']
Aantal rijen en kolommen: (3445, 21)

,Dossier,Vertrekdatum,Familienaam,Voornaam,Bestemming,Geboortedatum,Email_x,GSM,Straat + nr._x,Postcode_x,...,Straat + nr._y,Telefoon,Klantnummer,Klantnummer CMS,Email_y,Creatie datum,Geb. datum,Locatie,Postcode_y,Land
1111,985.0,13.07.2013,ebd4eb37cc3ca40b,82240720ea3da427,Paardrijden op het strand in Zeeland,26.06.1984,NaN,NaN,NaN,NaN,...,17ca63862712757e,fa8a8826a98d0695,a629185816fbaa58,cec740a841cbbec3,353177049f29eae8,NaN,NaN,Oostrum,5807BA,nl
789,552.0,02.07.2012,173476364940490c,cea6b1debf0eaaae,"Zeeland, Nederland",04.08.1993,63db42a2a81e5998,53c663b8e7789245,6ffbfebfbfe73291,9990,...,6ffbfebfbfe73291,b81715e1c7c49a06,f830ed13767da3ec,NaN,63db42a2a81e5998,17.06.2012,04.08.1993,MALDEGEM,9990,be
2904,3761.0,20.07.2018,ce272c09ab37c9e9,5c84b8b42c857a05,Nederland,10.07.1967,NaN,NaN,NaN,NaN,...,57060fe3964008d4,cabb843f600246fb,e93be09f7348eb2d,ddce411fffda8a1c,6220c0801e3d8eca,22.05.2018,NaN,Schiedam,3114AB,nl
2969,3873.0,26.08.2018,5cc3a52bc39eb1a0,b60d5ae9412a6dd5,Belgie,23.09.2004,NaN,NaN,NaN,NaN,...,a11b40b4cddc0ee4,55fdb55b5e970240,e7f6b0d1d66036f8,NaN,6ae6c5d4ca823719,19.07.2018,NaN,Noorderwijk,2200,nl
2386,3379.0,13.04.2018,573a6f72902a9bcc,7f9243f7de3cafdc,Paardrijweekend op Nederlands en Duits Grondge...,19.08.1970,NaN,NaN,NaN,NaN,...,dc56c7d61edf31c9,b08806a3b16d798b,f1a168d79eb6b26f,7682b543cfa1199f,a36237ab59d53870,30.01.2017,19.08.1970,Aarschot,3201,be

In [25]:
df.drop(columns=['Geb. datum', 'Klantnummer CMS', 'Telefoon', 'Straat + nr._x', 'Straat + nr._y', 'Postcode_x', 'GSM', 'Email_x', 'Locatie', 'Postcode_x'], inplace=True)
#df = df.rename(columns={'Email_y': 'Email'}, inplace = True)

In [26]:
df.sample(5)

# - verwijder Straat + nr. kolom en persoonlijke informatie
# Verander de kolom namen
# wijzig het type voor de 'Creatie datum' en 'Geb. datum' kolommen
# gebruik klantnummer als index voor het dataframe
# - Zet de Land kolom om naar 1 land (Be, BE, Belgium,..) = België
# vervang NaN in Geboortedatum met de geboortedatum uit de deelnemers lijst

,Dossier,Vertrekdatum,Familienaam,Voornaam,Bestemming,Geboortedatum,Stad,Klantnummer,Email_y,Creatie datum,Postcode_y,Land
3241,20190335.0,03.08.2019,0f36038c93528b44,959793fd7ec714dd,De Drie Eilandentocht (Deense waddeneilanden),08.03.1959,Amsterdam,b63657c80525c8f4,9605bd3a6a86db3f,12.06.2019,1098WB,nl
599,2152.0,30.03.2016,5a5c37b2458411ac,4cfc312b9b45871e,Kastelentocht Andalusie Spanje,21.02.1972,Kontich,33628d57b9396751,545965478e21c0e1,19.03.2012,2550,be
1058,873.0,03.08.2013,3263b0989adbe691,01e1d1b576505a9e,Tsjechië,NaN,MALLE,fa84fbea3cf839b7,0279d87f4b510ae2,27.03.2013,2390,be
1306,3728.0,22.09.2018,e859048c08fad2da,1f952ba892536b36,Spanje,27.01.1962,Meersel-Dreef,835e4d7ba094dd3a,ed144d9c414bef39,31.01.2014,2328,be
3427,20210009.0,18.09.2021,15de95c8dacf3931,7b7085eae518ca57,Kroatië,03.01.1987,Zevenhuizen,f4be937a79d78555,b326d8c4e1a21d6b,NaN,9354 va,nl

In [8]:
#df_artikels.sample(10)

# verwijder ArticlePoNummer kolom
# zet Boekingsdatum en Vertrekdatum om naar juiste type datetime
# vervang Volledige naam klant door klantennummer uit klantenlijst door te zoeken met dossier nummer
# vervang DossierStatus 'Ok' met 1 of 0
# zet Artikelprijs en Totaal dossier om naar float
# maak dataframe (labels) met alle bestemmingen

In [9]:
#df_artikels.shape

In [10]:
#df_bestellingen.iloc[3308]
#df_bestellingen.sample(20)

# Dos.jaar = 2021.0 - moet date worden en niet float zijn
# kolomnaam D.vertrek en Datum terug hernoemen
# status -1 en 0 omzetten naar 1 of 0
# verwijder laatste rij - is het totaal van alles opgeteld
# verwijder de regio kolom (veel NaN)
# verwijder de gefactureerd kolom of zet om naar 1 of 0 - type int64
# verwijder de Pakket Code kolom
# verwijder Status kolom
# verwijder Touroperator kolom (Waarschijnlijk niet relevant)
# Zet 'Datum creatie', 'D. vertrek' en 'Datum terug' om naar datetime type
# Zet bestemming en 'Land klant' om naar 1 land (Be, BE, Belgium,..) = België
# zet Totaalprijs en Openstaand dossier om naar het type int64
# verwijder # pass. kolom
# verwijder Openstaand dossier kolom
# verwijder Betalingen dossier kolom
# 

# status: 0 = bevestigd -1 = geannuleerd

In [11]:
#df_bestellingen.shape

In [12]:
df_deelnemers.sample(10)

# verwijder GSM kolom
# vewijder email kolom (veel NaN) - ook prive data
# zet Postcode om naar het type int64
# zet Vertrekdatum om naar datetime
# verwijder cijfers uit Stad bv: Brussel 15
#

,Dossier,Vertrekdatum,Familienaam,Voornaam,Bestemming,Geboortedatum,Email,GSM,Straat + nr.,Postcode,Stad
3897,2460,24.08.2016,a9032255f51b47da,b4348bfe272ae8da,Paardrijden en gastronomisch genieten in Zuid-...,25.09.1981,NaN,NaN,NaN,NaN,NaN
4536,2854,22.09.2017,1dfe0c04e87394ab,06bee8af20eb1be4,Andalusie Spanje,02.06.1960,NaN,NaN,NaN,NaN,NaN
3900,2462,24.09.2016,ebd4eb37cc3ca40b,5c3ce271f54f350c,Try Out Iran - Qashquai Nomad paardrijtrektocht,11.04.1968,NaN,NaN,NaN,NaN,NaN
5083,3211,13.10.2017,a313705bbcba8bd5,f76a31467e8c3674,Een Western ranch net over de grens in Duitsland,19.03.1981,NaN,NaN,NaN,NaN,NaN
981,636,28.09.2012,e58bca6af4425abb,09d8289fdacbf481,Brabantse land,NaN,NaN,NaN,84c25eff47091cb4,3904 LR,Veenendaal
4728,2965,23.07.2017,e2bdf97e0786e449,10d30785e300d4e6,Frankrijk,18.03.2008,NaN,NaN,NaN,NaN,NaN
3047,1940,24.07.2015,8d73e8b99493e0f7,c9f5c471a1b1bc16,Frankrijk en Spanje,31.07.2000,NaN,NaN,8efacaf26f4a49e8,9000,GENT
6305,4180,13.03.2019,82733ea63c2d53c8,06bee8af20eb1be4,Spanje,27.07.1983,NaN,NaN,NaN,NaN,NaN
462,301,23.09.2012,54772d6749fddb81,0ce212c5e4a2379e,Montana Verenigde Staten,18.10.1967,9e19b77d1be387db,eb9f660cff87bb1f,3e7ccafdb3c3c41c,7522 Pl,Enschede
5152,3259,08.10.2017,a6b964032c02c85b,89379e8f214f1763,Luxueuze westernvakantie in Hongarije,05.01.1993,NaN,NaN,NaN,NaN,NaN

In [13]:
#df['Klantnummer'].is_unique

#make specific row as index
#df.set_index('Klantnummer', inplace=True)
#df

In [14]:
# aantal waarden die null zijn in de klantenlijst
#df.isnull().sum()

In [15]:
df.columns

Index(['Dossier', 'Vertrekdatum', 'Familienaam', 'Voornaam', 'Bestemming',
       'Geboortedatum', 'Stad', 'Klantnummer', 'Email_y', 'Creatie datum',
       'Postcode_y', 'Land'],
      dtype='object')

In [16]:
#land lijst opruimen (België, belgium, BE) wijzigen naar 1 formaat
#achternaam van deelnemers kunnen worden gelinked met het klantennummer van een bestelling
#Geboortedatum in kantenlijst kan ge

In [17]:
df.dtypes

Dossier          float64
Vertrekdatum      object
Familienaam       object
Voornaam          object
Bestemming        object
Geboortedatum     object
Stad              object
Klantnummer       object
Email_y           object
Creatie datum     object
Postcode_y        object
Land              object
dtype: object

In [18]:
#df.info()

In [19]:
df_bestellingen

,Status,Dos. jaar,Dos. nr.,Email,Klantnummer,Klantnummer CMS,Datum creatie,D. vertrek,Datum terug,Totaalprijs,Betalingen dossier,Openstaand dossier,Touroperator,Land klant,Bestemming,Regio,Reistype,# pass.,Pakket Code,Gefactureerd
0,-1.0,2021.0,0,0d484d11bfafa789,e7a25456cafdac84,NaN,04.01.2021 15:11:00,11.09.2021,18.09.2021,0,0,0,c723acdbab5e366e,nl,Spanje,NaN,NaN,1.0,ESOVFIHEXP,False
1,0.0,2011.0,1,36710cc356dbbc5f,756abea9c3e90efe,NaN,28.01.2011 15:01:35,10.07.2011,17.07.2011,"14,52","14,52",0,NaN,Belgium,Netherlands,NaN,NaN,1.0,NaN,True
2,0.0,2011.0,3,37459dca4934080f,cc44932a4b289e81,NaN,07.04.2011 10:17:02,13.05.2011,15.05.2011,620,620,0,dbaa85d88e7fdc52,Netherlands,Belgium,NaN,Autovakantie Europa,2.0,NaN,False
3,0.0,2011.0,4,fe82fc76bd814dcf,17a916e5222e39a0,NaN,08.04.2011 15:02:33,22.05.2011,28.05.2011,1620,1620,0,e11db4bae17e4d63,Nederland,Spain,NaN,NaN,0.0,NaN,False
4,0.0,2011.0,9,7418f4b177e773ac,94bc0881cd24a1b5,NaN,27.04.2011 15:01:28,08.05.2011,15.05.2011,5040,5040,0,NaN,Netherlands,Botswana,NaN,Safari,2.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4034,0.0,2021.0,20210039,a098cd64ef46d3e6,550888291b01a2d4,67e59fd90cae0e70,02.05.2021 16:15:33,16.06.2021,18.06.2021,335,0,335,3124a9d2236ff8eb,Nederland,Nederland,NaN,Weekendje weg,1.0,NLMALW9P,False
4035,-1.0,2021.0,20210040,9d9fcbd34601d5be,5ca1958fcc9b6d75,NaN,03.05.2021 12:42:36,09.05.2021,11.05.2021,440,0,440,27ef3947de4c44d2,nl,Nederland,NaN,NaN,2.0,NLSTWPAP,False
4036,0.0,2021.0,20210041,737f64db006800d3,19b236bfce3aba00,86359749d0859dbf,03.05.2021 14:12:47,11.06.2021,13.06.2021,315,0,315,5b0d4a8fc474f56d,Nederland,Nederland,NaN,Weekendje weg,1.0,NLRIJVPWP,False
4037,0.0,2021.0,20210043,b985f67e6b21ddb7,5436dead6768cd27,NaN,05.05.2021 10:33:07,25.07.2021,01.08.2021,6118,0,6118,0af23110f6efa1a3,Nederland,Kroatië,NaN,Ruitervakantie,3.0,NaN,False
4038,NaN,NaN,4038,NaN,NaN,NaN,NaN,NaN,NaN,"5.701.099,41 €","5.639.565,48 €","61.533,93 €",NaN,NaN,NaN,NaN,NaN,6886.0,NaN,NaN

In [20]:
#df.boxplot(column='Email', by='Telefoon', rot=90)

# Features bepalen

Enkele interessante features die in de data te vinden zijn:

* Feature1

### importeren